.b-main-footer {
  height: 37px;
  .main-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  background-color: #4d4d4d;

  color:#fff;
  a {
    color:#fff;
  }
}
