.b-social {
   height: 100px;
}
.social-ico_list {
  display: flex;
  align-items: center;
  align-content: center;
}
.social_text {
  opacity: 0.8;
color: #242424;

font-size: 18px;
}
.social_ico {
  margin-left: 40px;
}
