//Colors
$first-color:#05663b;
$second-color: #1a2e42;
$third-color:#fcfae5;
$forth-color: #1a2e42;
$white: #fff;
// modal
$modal-bg-color: rgba(#1f534c, 0.75);


// btns

// b-empty-btn

$empty-btn-hover: #e2e1cf;
$empty-btn-text-hover: #05663b;
$empty-btn-active: #fcfae5;
$empty-btn-text-active: #e2e1cf;

// b-full-btn

$full-btn-hover: #ffb22c;
$full-btn-active: #e39100;

// nav_item li colors:

// $nav_item-hover: linear-gradient(180deg, rgb(5, 101, 59) 11%, rgb(0, 42, 65) 96%);
