.c-flats-plan {
    margin: 135px 0 68px 0;
    background:url("../images/bg-flats.png")no-repeat;
    background-size:36%;
    background-position: right top;
    color:$first-color;
    height:628px;
}
