.c-main-head {
  height: 65px;
  background-color: #fff;
  color: #ff9900;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index: 1000;
  box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.5);
    display: none;
  a {
    color: #ff9900;
    text-decoration: none;
  }
  p {
    margin: 0;
    padding: 0;
  }
  &.fixed{
    position: fixed;
  }
  @include for-tablet-portrait-up  {
    display: block;
  }
}
