.c-text-screen
{
    background-position: right center;
    background-size: 50%;
    .text-holder
    {
        max-width: 600px;
        margin-left: 10%;
        padding-top: 44px;

        flex: 1;
    }
}
