.c-first-screen
  .main-wr.row-only.r-sp-b
    include ../blocks/b-main-slogan
    a(href="#benefits" class="b-learn-more")
      span learn more
      span.learn-more_arr
        img(src="images/arr_bot.svg", alt="See more")
