.footer-sripts
  //build:js scripts/vendor.js
  //bower:js
  script(src="/bower_components/modernizr/modernizr.js")
  script(src="/bower_components/jquery/dist/jquery.js")
  script(src="/bower_components/slick-carousel/slick/slick.js")
  //endbower
  //endbuild

  //build:js scripts/main.js
  script(src="scripts/main.js")
  //endbuild
