footer.footer-main
  .main-wr.row-only.r-sp-b.r-v-center
    .footer-main_logo
      img(src="images/foter-logo.png")
    .footer-main_text
      p г. Екатеринбург, ул. Малышева 5,
      p 8 этаж, каб. 9 (ТЦ «Алатырь»)
    .footer-main_text
      p Отдел продаж:
      p +7 (343) 312-8-000
    .footer-main_text
      p пн-пт:  с 9-00 до 20-00
      p сб:  с 10-00 до 17-00
    .footer-main_text
      p Сайт разработан студией
      a(href="http://phoenix-cg.ru") «Phoenix Creative Group»
